    /*Global (reset, corpo da pagina, estilo padrão para parágrafos, listas, etc.)
    Cabeçalho da página
    Estrutura da página
    Rodapé
    Estilos de títulos
    Estilos de texto
    Navegação
    Formulários
    Extras ou Miscelâneas

*/

/*===========Global==================================================*/
html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend
{
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
}

:focus
{
    outline: 0;
}

body
{
    font-size: 100%;
    line-height: 1;

    color: #000;
    background: white;
}

ol,
ul
{
    list-style: none;
}

table
{
    border-spacing: 0;
    border-collapse: separate;
}

caption,
th,
td
{
    font-weight: normal;

    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
}

blockquote,
q
{
    quotes: '' '';
}


/*======== Cabeçalho ==========================================================*/
header
{
    position: relative;

    width: 1200px;
    height: 141px;
}

.logo
{
    position: absolute;
    top: 34px;
    left: 76px;
}
.menu li
{
    display: inline;
}
.menu a
{
    font-family: Arial;
    font-size: 1.37em;
    font-weight: 600;

    float: right;

    margin-top: 4%;
    margin-right: 122px;

    text-decoration: none;

    color: #676161;
}

.menu ul
{
    /* position: absolute;
    top: 72px;
    right: 79px;*/
}


/*========== Estrutura da Página =============================================*/
.container
{
    width: 1200px;
    margin: 0 auto;
}

.banner
{
    position: relative;

    width: 1006px;
    height: 418px;

    background-color: #b0b1b0;
}
/*Estilos de títulos=====================*/
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: Arial;
    font-size: 1.87em;

    color: #000;
}
.content
{
    position: relative;

    width: 1200px;
    height: 617px;
}
.titulos
{
    position: relative;

    width: 963px;
    height: 82px;
}
#titulo1
{
    font-weight: 600;

    position: absolute;

    width: 134px;
    height: 44px;
    margin-top: 25px;
    margin-left: 78px;
}
#titulo2
{
    font-weight: 600;

    position: absolute;

    width: 134px;
    height: 44px;
    margin-top: 25px;
    margin-left: 449px;
}
#titulo3
{
    font-weight: 600;

    position: absolute;

    width: 134px;
    height: 44px;
    margin-top: 25px;
    margin-left: 821px;
}
.item
{
    float: right;

    width: 279px;
    height: 375px;
    margin-right: 89px;

    background-color: #b0b1b0;
}

article
{
    font-family: verdana;
    font-size: 1.18em;

    left: 111px;

    margin-top: 410px;

    color: #676161;
}
/*========== Rodapé =============================================*/

footer img
{
    width: cover;
}
