 /*Global (reset, corpo da pagina, estilo padrão para parágrafos, listas, etc.)
    Cabeçalho da página
    Estrutura da página
    Rodapé
    Estilos de títulos
    Estilos de texto
    Navegação
    Formulários
    Extras ou Miscelâneas

*/

/*===========Global==================================================*/
html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend
{
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
}

:focus
{
    outline: 0;
}

body
{
    font-size: 100%;
    line-height: 1;

    color: #000;
    background: white;
}

ol,
ul
{
    list-style: none;
}

table
{
    border-spacing: 0;
    border-collapse: separate;
}

caption,
th,
td
{
    font-weight: normal;

    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
}

blockquote,
q
{
    quotes: '' '';
}


/*======== Cabeçalho ==========================================================*/
header
{
    position: relative;
}
.container
{
    width: 960px;
    margin: 0 auto;
}
#logo-header
{
    position: absolute;
    top: 10px;
    left: 36px;
}
.menu
{
    width: 960px;
    height: 67px;
    margin-top: 50px;

    background: url(../img/menu.jpg)repeat-x;
}
.menu li
{
    float: right;

    margin: 26px 34px 0 0;
}
.menu a
{
    font-family: arial;
    font-size: 1.12em;
    font-weight: 600;

    margin-left: 62px;

    text-decoration: none;

    color: #fff;
}
.banner
{
    width: 960px;
    height: 333px;
    margin: 50px 0 0 36px;
    margin: 0 auto;

    background-color: #d1cdcd;
}
.news
{
    width: 350px;
    height: 264px;

    background-color: #fff;
}
.main-wrapper_First
{
    width: 822px;
    height: 480px;
    margin-top: 20px;
}

.main-wrapper_Second
{
    width: 822px;
    height: 480px;
    margin-top: 6px;
}
.box1
{
    float: left;

    margin: 5px  0px 0px  35px;
}
.box2
{
    float: left;

    margin: 5px 37px 0px 41px;
}
.box3
{
    float: left;

    margin: 5px  0px 0px  35px;
}
.box4
{
    float: left;

    margin: 5px 37px 0 41px;
}
.picture
{
    width: 350px;
    height: 264px;

    background-color: #d1cdcd;
}
/*========== Footer ==================*/

.banner-footer
{
    width: 960px;
    height: 100px;

    background: url(../img/footer.jpg)repeat-x;
}

/*======== Estilo de títulos ======*/
h2
{
    font-family: Verdana;
    font-size: 1.37em;
    font-weight: 600;

    margin-top: 10px;
}
/*========== Estilo de texto======*/
p
{
    font-family: arial;
    font-size: 1.05em;

    margin-top: 25px;
}
